# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
*.pyo
*.pyd
*.pdb

# Virtual environment
venv/
env/
.venv/

# Django stuff
*.log
db.sqlite3
media/
staticfiles/

# Environment variables
.env
*.env

# VSCode / IDE
.vscode/
.idea/

# Mac/Windows
.DS_Store
Thumbs.db

# Migrations cache (optional)
*/migrations/__pycache__/
